{% capture gemFooterScripts %}<script data-instant-track type="text/javascript">	var GEMVENDOR = GEMVENDOR || (function(){		var _js = {};		return {			init: function(Args) {				_js = Args;			},			getLibs: function() {				return _js;			}		};	}());	GEMVENDOR.init(pageLibs);</script><script data-instant-track type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev2.js?v=1.0" class="gf-script" defer></script>{% endcapture %}
{% assign gemHandleCheck = 'index.gem-1606130219-template, collection.gem-1606130220-template' | split: ", " %}{% for h in gemHandleCheck %}{% if template == h %}{{ gemFooterScripts }}{% endif %}{% endfor %}{{ GEM_FOOTER_SCRIPT }}    {% if shop.metafields.gpGlobalConfigs.enableProductSchema == "true" or shop.metafields.gpGlobalConfigs.enableProductSchema == blank %}  
      {{ GEM_SCHEMA_SCRIPT }}
    {% endif %}
