<svg class="icon icon-cart" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 30 40" fill="none">
  <path fill="currentColor" fill-rule="evenodd" d="M17.0171 19.1646L15.8001 5.61135C15.7669 5.24122 15.4567 4.95772 15.0851 4.95772H12.5754V3.8258C12.5754 1.71625 10.8593 0 8.74981 0C6.64046 0 4.92449 1.71625 4.92449 3.8258V4.95772H2.41304C2.04148 4.95772 1.73127 5.24122 1.69805 5.61135L0.476259 19.2179C0.458265 19.4187 0.525456 19.6177 0.661466 19.7665C0.797476 19.9152 0.989767 19.9999 1.19125 19.9999H16.307C16.3076 19.9999 16.3084 19.9999 16.309 19.9999C16.7055 19.9999 17.0268 19.6785 17.0268 19.282C17.0267 19.2421 17.0235 19.2028 17.0171 19.1646ZM6.36021 3.8258C6.36021 2.50791 7.43221 1.43572 8.74991 1.43572C10.0677 1.43572 11.1398 2.50791 11.1398 3.8258V4.95772H6.36021V3.8258ZM1.97649 18.5643L3.06935 6.39343H4.92449V7.67716C4.92449 8.0736 5.2458 8.39501 5.64235 8.39501C6.03889 8.39501 6.36021 8.0736 6.36021 7.67716V6.39343H11.1398V7.67716C11.1398 8.0736 11.4611 8.39501 11.8577 8.39501C12.2542 8.39501 12.5755 8.0736 12.5755 7.67716V6.39343H14.4289L15.5218 18.5643H1.97649Z"/>
</svg>
