  {% if type == 'block' and block.settings.show_payment_button %}
    {% assign show_payment_button = true %}
  {% elsif section.settings.show_payment_button %}
    {% assign show_payment_button = true %}
  {% elsif show_payment_button_quickshop %}
    {% assign show_payment_button = true %}
  {% else %}
    {% assign show_payment_button = false %}
  {% endif %}

  {% assign variant = product.selected_or_first_available_variant %}

  <div class="clearfix product_form init
        {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
        id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
        data-money-format="{{ shop.money_format | strip_html }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ context }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        {% if settings.limit_quantity or settings.display_inventory_left %}
          data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
        {% endif %}
        data-product-id="{{ product.id }}">
    {% form 'product', product %}

    {% if product.available %}
      {% if settings.display_inventory_left %}
        <div class="items_left">
          {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
            {% capture items_left_text %}
              {% if variant.inventory_quantity == 1 %}
                {{ 'products.product.items_left_count.one' | t }}
              {% else %}
                {{ 'products.product.items_left_count.other' | t }}
              {% endif %}
            {% endcapture %}
            {% if variant.inventory_quantity <= settings.inventory_threshold %}
              {{ variant.inventory_quantity }} {{ items_left_text }}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ context }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ context }}{{ section.id }}{{ block.id }}" name="id">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endif %}

    {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% render 'product-swatch',
                  option: option,
                  product: product
          %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="purchase-details smart-payment-button--{{ show_payment_button }}">
      
        <div class="purchase-details__quantity">
          
          <span class="product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
          <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
          <span class="product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
        </div>
      
      <div class="{% if show_payment_button %}purchase-details__buttons{% else %}purchase-details__buttons full-width{% endif %}">
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}

        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{% if product.available %}{{ 'products.product.add_to_cart' | t }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}{% endif %}{% endcapture %}

        <div class="atc-btn-container {% if product.available == false %}disabled{% endif %}">
          <button type="{% if settings.cart_action == 'ajax' %}button{% else %}submit{% endif %}" name="add" class="{% if settings.cart_action == 'ajax' %} ajax-submit {% endif %} action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}>
            <svg class="icon icon-cart" style = "width: 15%; height: 22px;" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none">
  <path fill="currentColor" fill-rule="evenodd" d="M17.0171 19.1646L15.8001 5.61135C15.7669 5.24122 15.4567 4.95772 15.0851 4.95772H12.5754V3.8258C12.5754 1.71625 10.8593 0 8.74981 0C6.64046 0 4.92449 1.71625 4.92449 3.8258V4.95772H2.41304C2.04148 4.95772 1.73127 5.24122 1.69805 5.61135L0.476259 19.2179C0.458265 19.4187 0.525456 19.6177 0.661466 19.7665C0.797476 19.9152 0.989767 19.9999 1.19125 19.9999H16.307C16.3076 19.9999 16.3084 19.9999 16.309 19.9999C16.7055 19.9999 17.0268 19.6785 17.0268 19.282C17.0267 19.2421 17.0235 19.2028 17.0171 19.1646ZM6.36021 3.8258C6.36021 2.50791 7.43221 1.43572 8.74991 1.43572C10.0677 1.43572 11.1398 2.50791 11.1398 3.8258V4.95772H6.36021V3.8258ZM1.97649 18.5643L3.06935 6.39343H4.92449V7.67716C4.92449 8.0736 5.2458 8.39501 5.64235 8.39501C6.03889 8.39501 6.36021 8.0736 6.36021 7.67716V6.39343H11.1398V7.67716C11.1398 8.0736 11.4611 8.39501 11.8577 8.39501C12.2542 8.39501 12.5755 8.0736 12.5755 7.67716V6.39343H14.4289L15.5218 18.5643H1.97649Z"/>
</svg>
            <span class="text">Add to cart</span>
          </button>
          {% if show_payment_button %}
            {{ form | payment_button }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endform %}
</div>
