<ul class="social-sharing list-social list-unstyled">

  {%- if settings.share_facebook -%}
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
        target="_blank"
      >
        {% render 'icon-facebook' %}
        <span class="social-media-text">SHARE</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.share_twitter -%}
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
        target="_blank"
      >
        {% render 'icon-twitter' %}
        <span class="social-media-text">TWEET</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.share_pinterest -%}
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
        target="_blank"
      >
        {% render 'icon-pinterest' %}
        <span class="social-media-text">PIN</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
        <span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
      </a>
    </li>
  {%- endif -%}

</ul>
