{% comment %}
** Featured product - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% comment %} Content settings {% endcomment %}
{%- assign title = object.settings.title -%}
{%- assign product = all_products[object.settings.featured_product]-%}
{% comment %} End content settings {% endcomment %}

{%- assign collection_handles = product.collections | map: 'handle' -%}

{% if product.empty? %}
  {%- assign section_onboarding = true -%}
{% else %}
  {%- assign section_onboarding = false -%}
{% endif %}

{% render 'product-structured-data', product: product %}

<div class="container featured-product">
  <div class="clearfix homepage_content">
    {% if title != blank %}
      <div class="sixteen columns">
        <h2 class="section-header home text-align--center">
          {{ title }}
        </h2>
      </div>
    {% endif %}

    {% if product.empty? %}
      {%- assign section_onboarding = true -%}
    {% else %}
      {%- assign section_onboarding = false -%}
    {% endif %}

    <div class="product-{{ product.id }} container flex-container product_section"
         data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
         data-thumbnails-enabled="{{ object.settings.display_thumbnails }}"
         data-gallery-arrows-enabled="{{ object.settings.gallery_arrows }}"
         data-slideshow-speed="{{ object.settings.slideshow_speed }}"
         data-slideshow-animation="{{ object.settings.slideshow_transition }}"
         data-thumbnails-position="{{ object.settings.thumbnail_position }}"
         data-thumbnails-slider-enabled="{{ object.settings.enable_thumbnail_slider }}"
         data-activate-zoom="{{ object.settings.activate_zoom }}"
         data-block-id="{{ object.id }}"
         {{ block.shopify_attributes }}>

      {% if object.settings.product_images_position == 'left' %}
      {{ section.settings.image_product | img_url: '500x' | img_tag }}
<!--         <div class="eight columns featured-product-image">
          {% if section_onboarding %}
            {% capture i %}{% cycle "1", "2" %}{% endcapture %}
            {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
          {% else %}
            {% if type == 'block' %}
              {% render 'product-images',
                      product: product,
                      video_looping: object.settings.video_looping,
                      set_product_height: object.settings.set_product_height,
                      type: 'block'
              %}
            {% else %}
              {% render 'product-images',
                      product: product,
                      video_looping: object.settings.video_looping,
                      set_product_height: object.settings.set_product_height
              %}
            {% endif %}
          {% endif %}
        </div> -->
      {% endif %}

      <div class="eight columns featured-product-info content_column">
        {% if section_onboarding %}
          <h3 class="product__title_home">
            <a href="{{ product.url }}">{{ 'homepage.onboarding.product_title' | t }}</a>
          </h3>
        {% else %}
          <h3 class="product__title_home">
            <a href="{{ product.url }}">{{ section.settings.prod_title }}</a>
          </h3>
        <div class = "subtitle">{{ section.settings.product_sub }}</div>
          {% if settings.enable_shopify_product_badges %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}

          {% if object.settings.display_vendor %}
            <p class="vendor">
              <span>{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}
        {% endif %}

        {% if section_onboarding %}
          <p class="modal_price">
            <span class="current-price">
              $49.00
            </span>
          </p>
        {% else %}
<!--           {% render 'size-chart-popup' %} -->
       
          {% assign variant = product.selected_or_first_available_variant %}
          <div class="product__price-container {% if variant.available == false %}product__price-container--sold-out{% endif %}">
            {% if collection_handles contains 'coming-soon' %}
              <p class="product__price">{{ 'collections.general.coming_soon' | t }}</p>
            {% else %}
              <p class="product__price">
                <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                  <span class="current-price">
                    {% if variant.available %}
                      {% if variant.price > 0 %}
                        <span class="money">
                          {% render 'price-element', price: variant.price %}
                        </span>
                      {% else %}
                        {{ settings.free_price_text }}
                      {% endif %}
                    {% endif %}
                  </span>
                </span>
                <span class="was-price">
                  {% if variant.price < variant.compare_at_price %}
                    <span class="money">
                      {% render 'price-element', price: variant.compare_at_price %}
                    </span>
                    
                  {% endif %}
                  {% if shop.metafields.loox["global_stats"] %}
                {% assign looxstats = shop.metafields.loox["global_stats"] | split: ',' %} 
                <span class="loox-rating loox-rating-hp" data-rating="{{ looxstats[0] }}" data-raters="{{ looxstats[1] }}"></span> 
                {% endif %}
                </span>
               
              </p>

	
              <span class="sold-out-text">
                {% if variant.available == false %}
                  &ndash; {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            {% endif %}
          </div>
        {% endif %}

        {% if object.settings.product_description_position == "top" %}
          
            <div class="description">
              <p>
                {{ section.settings.product_desc }}
              </p>
            </div>
          
        {% endif %}
        
        {% if product.tags contains 'metallic' %}
        <a class="button button--primary" href="/products/cali-weights-jewelry-that-works-for-you" data-live-text-setting="section.template--14962814845095__162736521292206d02.button_label/escape">
          SHOP THE METALLIC COLLECTION
        </a>
        
        {% else %}

               <a class="button button--primary" href="/products/silicone-weights-black-bone" data-live-text-setting="section.template--14962814845095__162736521292206d02.button_label/escape">
          SHOP THE SILICONE COLLECTION
        </a>
        {% endif %}

        {% comment %}
         <p class = "color-select">Select Your Color</p>
        {% if section_onboarding %}
          <button type="submit" name="add" class="action_button add_to_cart" ><span class="text">ADD TO CART</span></button>
        {% else %}
          {% unless collection_handles contains 'coming-soon' %}
            
            <div class="js-product_section product_section">
              {% render 'product-form',
                      context: 'product',
                      product: product,
                      collection_handles: collection_handles,
                      type: 'block'
              %}
            </div>
          {% endunless %}
        {% endif %}
{% endcomment %}
        {% if object.settings.product_description_position == "bottom" %}
          {% if section_onboarding %}
            <div class="description description--bottom">
              <p>
                {{ 'homepage.onboarding.product_description' | t }}
              </p>
            </div>
          {% else %}
            {% if object.settings.show_description and product.description != blank %}
              <div class="description description--bottom">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      {% if object.settings.product_images_position == 'right' %}
      {{ section.settings.image_product | img_url: '500x' | img_tag }}
<!--         <div class="eight columns featured-product-image">
          {% if section_onboarding %}
            {% capture i %}{% cycle "1", "2" %}{% endcapture %}
            {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
          {% else %}
            {% if type == 'block' %}
              {% render 'product-images',
                      product: product,
                      video_looping: object.settings.video_looping,
                      set_product_height: object.settings.set_product_height,
                      type: 'block'
              %}
            {% else %}
              {% render 'product-images',
                      product: product,
                      video_looping: object.settings.video_looping,
                      set_product_height: object.settings.set_product_height
              %}
            {% endif %}
          {% endif %}
        </div> -->
      {% endif %}
    </div>
  </div>
</div>

{% if object.settings.set_product_height %}
  {% style %}
    {% if type == 'block' %}
      #block__{{ object.id }} .product_slider model-viewer {
        min-height: {{ object.settings.product_height }}px;
      }

      #block__{{ object.id }} .product_slider .product-gallery__main img,
      #block__{{ object.id }} .product_slider .product-gallery__main .plyr--html5 video,
      #block__{{ object.id }} .product_slider .product-gallery__main .plyr--youtube {
        max-height: {{ object.settings.product_height }}px;
      }
    {% else %}
      #shopify-section-{{ object.id }} .product_slider model-viewer {
        min-height: {{ object.settings.product_height }}px;
      }

      #shopify-section-{{ object.id }} .product_slider .product-gallery__main img,
      #shopify-section-{{ object.id }} .product_slider .product-gallery__main .plyr--html5 video,
      #shopify-section-{{ object.id }} .product_slider .product-gallery__main .plyr--youtube {
        max-height: {{ object.settings.product_height }}px;
      }
    {% endif %}
  {% endstyle %}
{% endif %}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
  <script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{% schema %}
{
  "name": "Featured product",
  "class": "featured-product-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "text",
      "id": "prod_title",
      "label": "Product Title",
      "default": "Featured product"
    },
	{
      "type": "image_picker",
      "id": "image_product",
      "label": "Image"    
    },
    {
      "type": "richtext",
      "id": "product_desc",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "richtext",
      "id": "product_sub",
      "label": "Text",
      "default": "<p>Use this for subtitles</p>"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover",
      "default": false
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Gallery transition",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show product description",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ],
  "presets": [{
    "name": "Featured product",
    "category": "Product",
    "settings": {
    }
  }]
}
{% endschema %}
