{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if block.settings.adapt_height_first_image and block.settings.image != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}::before, #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

<div class="image-swiper-container" id="{{ section.id }}" data-size="{{ section.blocks.size }}" data-id="{{ section.id }}">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'image_banner_item' %}
        <div id="Banner-swipe-image" class="swiper-slide banner{% if block.settings.stack_images_on_mobile and block.settings.image != blank and block.settings.image_2 != blank%} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and block.settings.image != blank %} banner--adapt{% endif %}">
          {%- if block.settings.image != blank -%}
            <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %}{% if block.settings.image_2 != blank %} banner__media-half{% endif %}">
              <img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
                sizes="{% if block.settings.image_2 != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
                src="{{ block.settings.image | img_url: '750x' }}"
                loading="lazy"
                alt="{{ block.settings.image.alt | escape }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                {% if block.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
              >
            </div>
          {%- elsif block.settings.image_2 == blank -%}
            <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %}{% if block.settings.image_2 != blank %} banner__media-half{% endif %}">
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}

          {%- if block.settings.image_2 != blank -%}
            <div class="banner__media media{% if block.settings.image != blank %} banner__media-half{% endif %}">
              <img srcset="{%- if block.settings.image_2.width >= 375 -%}{{ block.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image_2.width >= 750 -%}{{ block.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image_2.width >= 1100 -%}{{ block.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image_2.width >= 1500 -%}{{ block.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image_2.width >= 1780 -%}{{ block.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image_2.width >= 2000 -%}{{ block.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image_2.width >= 2800 -%}{{ block.settings.image_2 | img_url: '2800x' }} 2800w{%- endif -%}"
                sizes="{% if block.settings.image != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image != blank %}50vw{% else %}100vw{% endif %}"
                src="{{ block.settings.image_2 | img_url: '750x' }}"
                loading="lazy"
                alt="{{ block.settings.image_2.alt | escape }}"
                width="{{ block.settings.image_2.width }}"
                height="{{ block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio }}"
                {% if block.settings.image != blank %}class="banner__media-image-half"{% endif %}
              >
            </div>
          {%- endif -%}

          <div class="banner__content page-width" style="align-items: {{ block.settings.desktop_text_box_position }};">
            <div class="banner__box color-{{ block.settings.color_scheme }}">
              <h2 class="banner__heading h1">
                <span>{{ block.settings.heading }}</span>
              </h2>

              <div class="banner__text">
                <span>{{ block.settings.text | escape }}</span>
              </div>

              <div class = "available-colors">
                <div>
                  <span class="dot-black"></span>
                  <span class="dot-bone"></span>
                  <p>Black & Bone</p>
                </div>

                <div>
                  <span class="dot-mint"></span>
                  <span class="dot-blush"></span>
                  <p>Mint & Blush</p>
                </div>

                <div>
                  <span class="dot-ruby"></span>
                  <span class="dot-bone"></span>
                  <p>RUBY & Bone</p>
                </div>

                <div>
                  <span class="dot-tan"></span>
                  <span class="dot-bone"></span>
                  <p>Tan & bone</p>
                </div>

                <div>
                  <span class="dot-teal"></span>
                  <span class="dot-glacier"></span>
                  <p>Teal & Glacier</p>
                </div>

                <div>
                  <span class="dot-black"></span>
                  <span class="dot-black"></span>
                  <p>Black & black</p>
                </div>

              </div>

              <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}">
                {%- if block.settings.button_label_1 != blank -%}
                  <a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a href="{{ block.settings.button_link_2 }}" class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}
              </div>

              <p class = "in-store-text">Pick up your Cali Weights In Store:</p>
              <img src="https://cdn.shopify.com/s/files/1/0584/5424/5548/files/Road_Runner_Logo_MEMC_1.png?v=1627283024" class = "road-runner-logo">
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  #Banner-{{ section.id }} {
    background: linear-gradient(185deg,#577992 .66%,#fcddca 73.97%);
  }
</style>

{% schema %}
{
  "name": "Hero Banner Image",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "image_banner_item",
      "name": "Image Banner Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.image-banner.settings.image_2.label"
        },
        {
          "type": "select",
          "id": "desktop_text_box_position",
          "options": [
            {
              "value": "flex-start",
              "label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
            },
            {
              "value": "flex-end",
              "label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.label"
        },
        {
          "type": "checkbox",
          "id": "stack_images_on_mobile",
          "default": true,
          "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
        },
        {
          "type": "checkbox",
          "id": "adapt_height_first_image",
          "default": false,
          "label": "t:sections.image-banner.settings.adapt_height_first_image.label"
        },
        {
          "type": "header",
          "content": "Banner Content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ] 
    }
  ],
  "presets": [
    {
      "name": "Image Swiper Banner"
    }
  ]
}
{% endschema %}