{{ 'component-logo-slider.css' | asset_url | stylesheet_tag }}

<div class="section-container">
  <div class="page-width">

    <div class="logo-slider" data-size="{{ section.blocks.size }}" data-id="{{ section.id }}" data-logo-slider>
      {%- liquid
        assign highest_ratio = 0
        for block in section.blocks
          if block.settings.image.aspect_ratio > highest_ratio
            assign highest_ratio = block.settings.image.aspect_ratio
          endif
        endfor
      -%}
      {% for block in section.blocks %}
        <div class="logo-item">
          <div class="media media--transparent media--{{ block.settings.image_ratio }}"
            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
          >
            <img
              srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}"
              src="{{ block.settings.image | img_url: '550x' }}"
              sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                calc(100vw - 30px)"
              alt="{{ block.settings.title }}"
              height="{{ block.settings.image.height }}"
              width="{{ block.settings.image.width }}"
              loading="lazy"
            >
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Logo slider",
  "class": "logo-slider",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Slider"
    }
  ]
}
{% endschema %}