.articles-wrapper.grid {
  margin: 0 0 5rem 0;
}

@media screen and (min-width: 750px) {
  .articles-wrapper.grid {
    margin-bottom: 7rem;
  }
}

.articles-wrapper .article {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.article-card {
  background-color: var(--color-foreground-4);
  align-self: flex-start;
  flex: 0 1 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__info {
  padding: 2.5rem 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.article-content:hover .article-card__title {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-default) ease;
}

.article-content:hover img {
  transform: scale(1.07);
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
  

}

.article-card__link.link {
  padding: 0;
  color: white;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-content:hover .article-card__link {
  text-decoration-thickness: 0.2rem;
}

.article-card__header h2 {
  margin: 0;
  color: white;
  text-align: left;
}

.article-card__header h2:not(:first-child) {
  margin-top: 1rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
 
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}


#Article-556165922983, #Article-556159959207, #Article-556063326375, #Article-394996842663{

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  margin-bottom: 15%;
}

.blog-articles>:nth-child(4) .article-card__image.media.media--landscape{
	width: 75% !important;
    left: 31% !important;
    bottom: -32% !important;
}

.blog-articles>:nth-child(2) .article-card__image.media.media--landscape{
	width: 65% !important;
    left: 30% !important;
}

.blog-articles>:nth-child(3) .article-card__image.media.media--landscape{
	width: 63% !important;
    left: 24% !important;
    bottom: -31% !important;
  	margin-top: unset !important;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .blog-articles>:first-child .article-card__image.media.media--landscape, .blog-articles>:nth-child(2) .article-card__image.media.media--landscape, .blog-articles>:nth-child(3) .article-card__image.media.media--landscape, .blog-articles>:nth-child(4) .article-card__image.media.media--landscape{
  	bottom: unset !important;
    left: unset !important;
    width: unset !important;
  }
  
  .main-blog.page-width .media--landscape{
  	padding-bottom: unset !important;
  }
  
  .main-blog.page-width .media--landscape img{
  	position: unset;
    width: 100%;
  }
  
  #Article-394996842663, #Article-556063326375, #Article-556159959207, #Article-556165922983{
  	margin-top: unset;

  }
  
  .blog-articles>:first-child .article-card__footer, .blog-articles>:nth-child(4) .article-card__footer{
  	margin-left: unset !important;
    text-align: left;
  }
   div#shopify-section-template--14989704298663__16278859851be0f755 .banner__media-half+.banner__media-half .media model-viewer {
    width: 70% !important;
    margin: 0 auto !important;
	}
  #shopify-section-template--14962814746791__main{
  	width: 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 750px){
	.article-content img{
    	margin-top: 25px;
    }
}

