slider-component {
  position: relative;
  display: block;
}

@media screen and (max-width: 989px) {
  slider-component .slider {
    padding-bottom: 6rem;
  }

  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
  
  slider-component .slider-buttons {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
  }
}

.slider__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
}

@media screen and (max-width: 2500px) {
  .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider.slider--mobile .slider__slide {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


  .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
    padding-bottom: 0;
  }

/* Scrollbar */

.slider {
  scrollbar-color: var(--color-foreground) var(--color-foreground-4);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground);
  border-radius: 0.4rem;
  border: 0;
}

.slider::-webkit-scrollbar-track {
  background: var(--color-foreground-4);
  border-radius: 0.4rem;
}

slider-component .slider-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

.slider-buttons.slider-buttons--overlay {
  border: 0.1rem solid var(--color-foreground-8);
  background-color: var(--color-background);
}

.slider-mobile-gutter .slider-buttons {
  right: 1.5rem;
}

.slider-counter {
  margin-right: 3rem;
}

.slider-buttons--overlay .slider-counter {
  margin-right: 0;
  padding: 0 1.4rem;
}

.slider-buttons {
  display: flex;
  align-items: center;
}

/* @media screen and (min-width: 990px) {
  .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .slider--mobile + .slider-buttons {
    display: none;
  }
} */

.slider-button {
  color: var(--color-foreground-75);
  border: 0.1rem solid var(--color-foreground-8);
  background-color: var(--color-background);
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.slider-button:not([disabled]):hover {
  color: var(--color-foreground);
  border-color: var(--color-foreground);
  z-index: 1;
}

.slider-button:first-of-type {
  margin-right: -1px;
}

.slider-buttons--overlay .slider-button {
  margin-top: -1px;
  margin-bottom: -1px;
}

.slider-buttons--overlay .slider-button + .slider-button {
  margin-right: -1px;
}

.slider-button .icon {
  height: 0.6rem;
}

.slider-button[disabled] .icon {
  color: var(--color-foreground-30);
}

.slider-button--next .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg) translateX(0.15rem);
}

.slider-button--prev .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg) translateX(-0.15rem);
}

.slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) translateX(0.15rem) scale(1.07);
}

.slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) translateX(-0.15rem) scale(1.07);
}

.slider-button:focus-visible {
  z-index: 1;
}


@media screen and (min-width: 1025px) {
slider-component .slider-buttons {

  bottom: 75px;
}
}
