.shopify-section.logo-slider {
  padding-top: 50px;
  padding-bottom: 50px; 
}

.shopify-section.logo-slider .logo-item {
  padding-left: 30px;
  padding-right: 30px;
}

.shopify-section.logo-slider li {
  margin-left: 0px;
  margin-right: 0px;
}
.shopify-section.logo-slider .slick-dots {
  position: relative;
}