.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

@media screen and (min-width: 1320px) {
  .article-template__hero-container:first-child {
    margin-top: 5rem;
  }
}

.article-template__hero-medium {
  height: 15.6rem;
}

.article-template__hero-large {
  height: 19rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-medium {
    height: 34.9rem;
  }

  .article-template__hero-large {
    height: 42.3rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-medium {
    height: 54.5rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
    max-width: 90%;
  }
}

.article-template__title {
  margin: 0;
  color: #FFF;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-underline-offset: 0.3rem;
}

.article-template__link:hover {
  text-decoration-thickness: 0.2rem;
}

.article-template__link svg {
  width: 1.5rem;
  transform: rotate(180deg);
  margin-right: 1rem;
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-top: 3rem;
}

.article-template__social-sharing .social-sharing {
  margin-left: -1.3rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: var(--color-foreground-75);
  background-color: var(--color-background);
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__hero-adapt.media{
	background-color: unset;
  	padding-bottom: 22% !important;
  	overflow: unset;
}

.article-template__hero-adapt.media img{
	max-width: 25%;
}

.article-title-container{
  background: linear-gradient(105.1deg, #9AB1AB 0.91%, rgba(136, 164, 157, 0) 112.34%);
  padding: 50px;
  border-radius: 20px;
  display: inline-flex;
  margin-top: 76px;
  height: 280px;
}
  
}
.article-title-container .article-title{
	overflow: unset;
}
.article-title-container .article-image {
	width: 47%;
  	text-align: right;
}
.article-title-container .article-image img{
	width: 277px;
    height: auto;
    overflow: hidden;
    position: relative;
    top: -160px;
}


#shopify-section-template--14962814714023__main .article-template__social-sharing{
	align-items:center;
}

.social-media-container {
    position: relative;
    bottom: -50px;
}
.social-media-container .list-social{
	justify-content: flex-start;
}

.social-media-container .list-social__link.link.link--text{
  	color: #fff;
}

.article-title-container{
	width: 100%;
}


@media screen and (max-width: 500px) {
  .article-title-container{
  	margin-top: unset;
    height: unset;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .social-media-container{
  	bottom: unset;
  }
  .article-title-container .article-image{
  	width: unset; 
    margin: 0 auto;
  }
  .article-title-container .article-image img{
  	position: unset;
    top: unset;
    width: 250px;
  }
}

@media screen and (max-width: 1006px){
  .article-title-container{
  	height: unset;
  }
  .article-title-container .article-image img{
  	top: unset;
  }
}