<style>
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
</style>
<h1>Get Inspired with the Cali weights blog</h1>
<p>Keep up to date on the latest fashion and fitness tips and tricks!</p>
<div class = "blog-grid">
<div class="one">
  <h3>6 Fitness tips for busy women</h3>
  <p>6 Minute Read</p>
  <button>READ ARTICLE</button>
</div>

<div class="two">
  <h3>6 Important parts of your daily routine</h3>
  <p>4 Minute Read</p>
  <button>READ ARTICLE</button>
</div>

<div class="three">
  <h3>what is Functional Fitness Training?</h3>
  <p>5 minute read</p>
  <button>READ ARTICLE</button>
</div>

<div class="four">
  <h3>what is Functional Fitness Training?</h3>
  <p>3 Minute Read</p>
  <button>READ ARTICLE</button>
</div>

<div class="five">
  <h3>6 Important parts of your daily routine</h3>
  <p>8 Minute Read</p>
  <button>READ ARTICLE</button>
</div>

<div class="s">
  <h3>4 Ways to Instantly become a more stylish woman</h3>
  <p>6 Minute Read</p>
  <button>READ ARTICLE</button>
</div>
</div>